<html>
	<head>
		<title>Афиша</title>
	</head>
	<body>
		<table border="1" width="100%" bgcolor='FFFF99'>
			<tr>
				<td colspan="4" align="center"><font size="15"<b><i> "Ну, погоди!"</b></i></font></td>
			</tr>
			<tr>
				<td width="50"><img src="5.jpg"></td>
				<td colspan="2">«Ну, погоди!» — популярнейший советский и российский мультсериал. По версии IMDb, входит в пятёрку наиболее высоко оценённых советских и российских фильмов со средней оценкой 9,0 (из 10).
								История этого мультфильма началась ещё до создания первого, знакомого каждому выпуска. В 1969 году режиссёром Геннадием Сокольским была снята первая серия, главная идея которой легла в основу знаменитого сериала. В дальнейшем поменялась графика, юмор, возраст и внешний облик персонажей, однако, главная идея оказалась неизменной.
				<ul><img src='6.jpg' align='right'>
				<li>Свою знаменитую прическу и характерную внешность Волк приобрёл только во втором выпуске мультфильма. В первом выпуске его прическа и внешность отличается от привычного зрителям варианта.</li>
				<li>Существует рисованный фильм «Волшебная камера», созданный по заказу ЦРКО Рассвет (Союзмультфильм, 1976 года режиссёр Виктор Арсентьев сценарист Аркадий Хайт художники-постановщики Владимир Крумин, Александр Винокуров), посвящён теме — занимайтесь кинолюбительством, в остроумном, мультипликационном сюжете рекламирует кинокамеру Кварц 1х8 С-2. В фильме действуют герои «Ну, погоди!» — Заяц и Волк.</li>
				<li>В 1970-е годы программа мультфильмов по Центральному телевидению обычно предварялась краткой мультипликационной заставкой (впоследствии использованной как пролог к «телевыпускам»). Под музыкальное сопровождение титров к «Ну, погоди!» Волк гнался за Зайцем, к ним постепенно присоединялись другие персонажи популярных мультфильмов. В итоге вся компания оказывалась в Останкинском телецентре, где Заяц, не сводя глаз с экрана, отмахивался от попытки Волка его схватить: «Тс-с! Ну, погоди». Волк оборачивался в сторону экрана… и забывал о Зайце.</li>
				<li>В 12-й серии Волк оказывается в саркофаге фараона Рамзеса II. Этот момент вызвал много споров при создании серии (допускалась даже возможность протеста правительства Египта).
				<li>Незадолго до начала создания 19-й серии Алексей Котёночкин и Александр Курляндский создали журнал комиксов «Ну, погоди!», в котором почти каждая часть завершалась знаменитой фразой Волка. Также в журнале есть комикс «Ну, Волк, погоди!», где героями являются сыновья Волка и Зайца, причём теперь отрицательным героем является Заяц-сын. Волик изображён как интеллигентный подросток, который вместе со своей возлюбленной Лисичкой постоянно затевает развлечения, а панк Зайчик постоянно пытается их испортить. Но в финале истории он обязательно от кого-нибудь получает, после чего кричит «Ну, Волик, погоди!»</li>
				<li>Образы героев сериала поместили в электронную карманную игру «Ну, погоди!».</li>
				<li>Поп-группа победителей немецкого телевизионного шоу «Popstars» 2004 года называлась Nu pagadi.</li>
				<li>В 20 серии в доме Волка можно заметить журнал Playwolf. Это ссылка к мужскому журналу Playboy.</li>
				<li>В одной из серий Волк ездит на очевидно, самодельной машине с логотипом фирмы «Мерседес-Бенц».</li>
				<li>В то же время режиссёр Вячеслав Котёночкин выпустил мультфильм ещё и на диафильмах.</li></ul>

				</td>
			</tr>
		</table>
	</body>
</html>