<html>
	<head>
		<title>Вокзалы</title>
	</head>
	<body>
		<h1> Вокзалы Москвы </h1>
		<img src='1.jpg' align='left' hspace="30">
		В Москве есть:
		<ul>
			<li><a href='new  2.html'>Ярославский вокзал</a></li>
			<li><a href='new  3.html'>Павелецкий вокзал</a></li>
			<li><u>Ленинградский вокзал</u></li>
			<li><u>Белорусский вокзал</u></li>
			<li><a href='new  4.html'>Курский вокзал</a></li>
			<li>Киевский вокзал</li>
			<li>Казанский вокзал</li>
			<li>Савеловский вокзал</li>
			<li>Рижский вокзал</li>
		</ul><br clear="all">
		<p align='justful'>
			О Белорусском вокзале
			Открытый 1870 году Белорусский вокзал (или как тогда его называли Смоленский вокзал)
			стал вторым , по размерам, вокзалом Москвы (после Николаевского) . Отсюда отправлялись поезда
			(по новой железнодорожной ветке) в направлении Минска и Варшавы через Смоленск. За всю историю
			существования Белорусский вокзал сменил несколько названий и претерпел несколько крупных реконструкций.
			Чехарда с названиями вокзала завершилась в мае 1936 года,когда после очередной реорганизация железных дорог, 
			вокзал получил свое нынешнее название — Белорусский. На сегодняшний день, Белорусский вокзал отвечает современным
			требованиям обслуживания пассажиров. Отсюда отходят поезда дальнего следования : Берлин, Берн, Брест, Брюссель, Белосток, 
			Варшава, Вильнюс, Вюнсдорф, Гомель, Гродно, Женева, Калининград, Каунас, Кёльн, Копенгаген, Мадрид, Мальме, Минск, Могилев,
			Рыбинск, Углич, Весьегонск, Пестово.
			<br>Адрес: пл. Тверская застава, д. 7 (станция метро «Белорусская» Кольцевой и Замоскворецкой линий).</br>
		</p>
	</body>		
</html>